<nav id="navbar" class="navbar order-last order-lg-0">
  <ul>
    <li><a class="nav-link scrollto active" href="{% url 'index' %}">Home</a></li>
    <li><a class="nav-link scrollto" href="{% url 'dish:dish-list' dish_type='Breakfasts'%}">Food</a></li>
    <li><a class="nav-link scrollto" href="{% url 'dish:dish-list' dish_type='Coffee'%}">Drinks</a></li>
    <li><a class="nav-link scrollto" href="{% url 'dish:dish-list' dish_type='Cheescakes'%}">Desserts</a></li>
    <li><a class="nav-link scrollto" href="{% url 'dish:dish-list' dish_type='Kids Menu'%}">Kids Menu</a></li>
  </ul>
  <i class="bi bi-list mobile-nav-toggle"></i>
</nav>
{% if user.is_authenticated %}
  <a href="{% url 'user:user-detail' %}" class="nav-link scrollto">Hello, {{ user.username }}!</a>
  <a href="{% url 'logout' %}" class="book-a-table-btn scrollto d-none d-lg-flex">Logout</a>
  <a href="{% url 'order:order-list' %}" class="book-a-table-btn scrollto d-none d-lg-flex">My orders</a>
{% else %}
<a href="{% url 'login' %}" class="book-a-table-btn scrollto d-none d-lg-flex">Login</a>
{% endif %}