{% extends "base.html" %}

  {% block content %}
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Feeling Happy</span></h1>
          <h2>----------- Food and cocktails -----------</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="#book-a-table" class="btn-book animated fadeInUp scrollto">Login</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {%  endblock %}